html {
    font:normal 100%/1.2em "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
    }
    


    

    #menu{
    height: 1.8em ;
    }



    

    
    #menu li {
            list-style-type: none;
            list-style-image:none;
            float: left ; 
            text-align: center;
        width: 200px ; 
        border: 1px solid #600 ; 
        margin-right: 1px ; 
        color: #fff ; 
        background: #ccff11 ;
    }
    
    #menu li a , #categories li a {
            text-decoration:none;
    }
    
    label {
        background:transparent none;
        display: block;
        width: 20%;
        float: left;
        padding-right: 1%;
        text-align: left;
    }
    